body 
{
	background-image: url("header.jpg");
	-moz-background-size: cover;
    -webkit-background-size: cover;
	text-align: center;
	font-size: 30px;
	color: white;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.slider 
{
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;   
    background: #3bb000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px;
    background: #4CAF50;
    cursor: pointer; 
}

input
{
	font-size: 20px;
	font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

button
{
	background-color: #888888;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}